<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Genero</a></li>
        <li class="breadcrumb-item"><a>{{navActual}}</a></li>
    </ol>
</nav>
<div class="contenedor-formulario">

    <form #formCategoria="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6">
        <h1>{{titulo}}</h1>
        <p>
            <label>Nombre</label>
            <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="categoria.nombre" required class="form-control" />
            <span *ngIf="!nombre.valid && nombre.touched"> 
              El nombre es obligatorio
            </span>
        </p>
        <p>
            <label>Descripción</label>
            <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="categoria.descripcion" required class="form-control"> </textarea>
            <span *ngIf="!descripcion.valid && descripcion.touched"> 
        La descripción es obligatoria
      </span>
        </p>




        <input type="submit" value="{{titulo}}" [disabled]="!formCategoria.form.valid" class="btn btn-success" />

    </form>

</div>
<div class="mycontenedor" *ngIf="!identificado || identificado.rol !='ROLE_ADMIN'">
    <h1>Error</h1>
    <p>Acceso denegado {{identificado.rol}}</p>
</div>