body {
    margin: 0px;
    padding: 0px;
    /* background-color: whitesmoke; */
}

#main {
    height: 400px;
    width: 251px;
    /* background-color: white; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 7px rgba(0, 0, 0, .2); */
    position: absolute;
    top: 200px;
    left: 150px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#image {
    height: 100%;
    width: 99%;
    position: absolute;
    top: 0;
}

#image img {
    height: 80%;
    width: 100%;
}

#wave,
#wave2 {
    height: 50px;
    width: 50px;
    background-color: silver;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

@-webkit-keyframes pulseEffect {
    from {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0.4;
    }
    to {
        transform: translate(-50%, -50%) scale(5.5);
        opacity: 0;
    }
}

@-webkit-keyframes pulseEffect2 {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.6;
    }
    to {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}

#info {
    height: 90px;
    width: 100%;
    background-color: #81B0F8;
    position: absolute;
    top: 280px;
    z-index: 1;
}

#info:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    border-bottom: 50px solid #81B0F8;
    border-left: 250px solid transparent;
}

#info:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -60px;
    border-bottom: 60px solid #81B0F8;
    border-left: 250px solid transparent;
    z-index: -1;
}

#viewMore,
#close {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    cursor: pointer;
}

#close {
    top: 125px;
}

#viewMore img,
#close img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    font-family: arial;
    font-weight: bold;
    font-size: 13px;
    color: #222222;
    letter-spacing: 2px;
    text-align: center;
    line-height: 60px;
}

#status {
    font-family: arial;
    font-size: 10px;
    color: white;
    text-align: center;
}

#social {
    display: flex;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#aboutMe {
    height: 100px;
    width: 100%;
    background-color: #81B0F8;
    position: absolute;
    top: -160px;
}

#aboutMe:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 100px;
    border-top: 50px solid #81B0F8;
    border-right: 250px solid transparent;
}

#aboutMe:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 100px;
    border-top: 60px solid #81CFFF;
    border-right: 250px solid transparent;
    z-index: -1;
}

#aboutMe h2 {
    font-family: arial;
    font-size: 14px;
    color: white;
    margin: 10px;
}

#aboutMe p {
    font-family: arial;
    font-size: 10px;
    color: white;
    margin: 10px;
    text-align: justify;
}

#project {
    width: 250px;
    height: 400px;
    position: absolute;
    top: 0;
    left: -250px;
}

#project h2 {
    font-family: arial;
    font-size: 14px;
    color: #222;
    position: absolute;
    right: 0;
    top: 115px;
    margin-right: 10px;
}

#panel1,
#panel2,
#panel3 {
    height: 70px;
    width: 90%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

#panel2 {
    top: 230px;
}

#panel3 {
    top: 310px;
}

.projectImg {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 10px;
    top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 1px 6px rgba(0, 0, 0, .1);
}

.projectImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.projectTitle {
    width: 150px;
    font-family: arial;
    font-size: 11px;
    color: #888;
    font-weight: bold;
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
}

.projectTools {
    display: flex;
    margin-top: 10px;
}

.like,
.visited {
    font-family: arial;
    font-size: 11px;
    margin-left: 0px;
    line-height: 30px;
    display: flex;
}

.visited {
    margin-left: 70px;
}

.visit {
    margin-left: 15px;
    cursor: pointer;
}

.visited img {
    margin: 7px;
    height: 13px;
    width: 20px;
}

.like img {
    margin: 5px;
    margin-left: 20px;
    height: 18px;
    width: 18px;
}

.visit img {
    margin: 5px;
    height: 15px;
    width: 15px;
}

hr {
    margin-top: 13px;
}


/* Para el detalle artista */

body {
    font-size: 14px;
    font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
    /* background-color: #E5E9ED; */
}


/*        Style       */

.card {
    background: none repeat scroll 0 0;
    border-radius: 4px;
    color: #444444;
}

.card-container,
.front,
.back {
    width: 100%;
    height: 420px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.card .cover {
    height: 90px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.card .cover img {
    width: 100%;
}

.card .user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}

.card .user img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.card .content {
    background-color: transparent;
    box-shadow: none;
    /* padding: 10px 20px 20px; */
}

.card .content .main {
    /* min-height: 160px; */
}

.card .back .content .main {
    height: 215px;
}

.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}

.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.card .profession {
    color: #999999;
    text-align: center;
    margin-bottom: 10px;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}

.card .footer .social-links {
    font-size: 18px;
}

.card .footer .social-links a {
    margin: 0 7px;
}

.card .footer .btn-simple {
    margin-top: -6px;
}

.card .header {
    padding: 15px 20px;
    height: 90px;
}

.card .motto {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container {
    width: 100%;
    margin-top: 50px;
}

.card .stats {
    display: block;
    float: left;
    width: 33.333333%;
    text-align: center;
}

.card .stats:first-child {
    border-right: 1px solid #EEEEEE;
}

.card .stats:last-child {
    border-left: 1px solid #EEEEEE;
}

.card .stats h4 {
    font-weight: 300;
    margin-bottom: 5px;
}

.card .stats p {
    color: #777777;
}


/*      Just for presentation        */


/* 
.title {
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}

.title small {
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
} */

.space-30 {
    height: 30px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-200 {
    height: 200px;
    display: block;
}

.white-board {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}

.ct-heart {
    color: #F74933;
}

pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.atv,
.str {
    color: #05AE0E;
}

.tag,
.pln,
.kwd {
    color: #3472F7;
}

.atn {
    color: #2C93FF;
}

.pln {
    color: #333;
}

.com {
    color: #999;
}

.btn-simple {
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple i {
    font-size: 16px;
}

.navbar-brand-logo {
    padding: 0;
}

.navbar-brand-logo .logo {
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}

.navbar .navbar-brand-logo .brand {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}

.navbar-default .navbar-brand-logo .brand {
    color: #555;
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .front,
    .back {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }
    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(0.92, 0.01, 0.83, 0.67);
    }
    .front {
        z-index: 4;
    }
}

.card-container {
    width: 100%;
    height: 440px;
    position: relative;
    -moz-transition: z-index 0.6s;
    -o-transition: z-index 0.6s;
    -webkit-transition: z-index 0.6s;
    transition: z-index 0.6s;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.card-container .card {
    position: relative;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-container .card .front,
.card-container .card .back {
    width: 100%;
    height: 440px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-container .card .front {
    background: #fff;
    z-index: 2;
}

.card-container .card .back {
    background: #fff;
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}