<div class="navigation col-lg-1" *ngIf="identificado">
    <h1 class="head-title">
        <a [routerLink]="['/']">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span> {{titulo}}
        </a>
    </h1>
    <nav id="navigation">
        <a href="#" class="menu-item">
            Buscar
        </a>

        <a [routerLink]="['/artistas',1]" class="menu-item" [routerLinkActive]="['actived']">
            Artistas
        </a>
        <a href="#" class="menu-item">
                Me
            </a>

    </nav>

    <nav id="user_logged">
        <div class="user-image">
            <img id="image-logged" src="{{url+'imagen/usuario/'+identificado.imagen}}" style="width: 50px" />

        </div>
        <span id="identificado_nombre">
                    {{identificado.nombre}}
            </span>


        <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">

            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Mis datos</a>
        <a (click)="logout()" class="btn-logout">
            <span class="glyphicon glyphicon-log-out"></span> Salir
        </a>
    </nav>


</div>

<div class="central col-lg-11 nopadding" *ngIf="identificado">

    <router-outlet></router-outlet>
    <div class="clearfix"></div>
    <app-player class="player" *ngIf="identificado"></app-player>

</div>



<div class="container-forms" *ngIf="!identificado">
    <!-- Formularios -->
    <div class="contenedor-formularios">
        <!-- Links de los formularios -->
        <ul class="contenedor-tabs">
            <li class="tab tab-segunda active"><a href="#iniciar-sesion">Iniciar Sesión</a></li>
            <li class="tab tab-primera"><a href="#registrarse">Registrarse</a></li>
        </ul>

        <!-- Contenido de los Formularios -->
        <div class="contenido-tab">
            <!-- Iniciar Sesion -->
            <div id="iniciar-sesion">
                <h1>Identifícate</h1>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="contenedor-input">

                        <input type="email" required placeholder="Email" name="email" #email="ngModel" [(ngModel)]="usuario.email">
                        <span *ngIf="!email.valid && email.touched" class="msnAlerta">El email es obligatorio</span>

                    </div>

                    <div class="contenedor-input">

                        <input type="password" required placeholder="Password" #password="ngModel" name="password" [(ngModel)]="usuario.password">
                        <span *ngIf="!password.valid && password.touched" class="msnAlerta">El password es obligatorio</span>
                    </div>
                    <p class="forgot"><a href="#">Se te olvidó la contraseña?</a></p>
                    <input type="submit" class="button button-block" value="Iniciar Sesión">
                </form>
            </div>

            <!-- Registrarse -->
            <div id="registrarse" class="registrarse">
                <h1>Registrarse</h1>
                <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
                    <div class="fila-arriba">
                        <div class="contenedor-input">

                            <input type="text" required placeholder="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="usuario_registro.nombre">
                        </div>

                        <div class="contenedor-input">

                            <input type="text" required placeholder="Apellido" name="apellido" #nombre="ngModel" [(ngModel)]="usuario_registro.apellido">
                        </div>
                    </div>

                    <div class="contenedor-input">

                        <input type="email" required placeholder="Email" name="email" #email="ngModel" [(ngModel)]="usuario_registro.email">
                        <span *ngIf="!email.valid && email.touched" class="msnAlerta">El email es obligatorio</span>

                    </div>
                    <div class="contenedor-input">

                        <input type="password" required placeholder="Password" #password="ngModel" name="password" [(ngModel)]="usuario_registro.password">
                        <span *ngIf="!password.valid && password.touched" class="msnAlerta">El password es obligatorio</span>
                    </div>



                    <input type="submit" class="button button-block" value="Registrarse">
                </form>
            </div>
        </div>
    </div>
</div>