<div class="album-box  desplazado" *ngIf="album">
    <div id="album-head-card">
        <div class="image">
            <img src="{{url + 'imagen/album/'+album.imagen}}" alt="">
        </div>
        <div class="data">
            <h2>{{album.titulo}}</h2>
            <p><strong>{{album.artista.nombre}}</strong></p>

            <p>{{album.year}}</p>
            <p>{{album.descripcion}}</p>

            <a [routerLink]="['/crear-musica', album._id]" class="btn btn-default" *ngIf="identificado.rol == 'ROLE_ADMIN'">Agregar Cancion</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="gallery-songs" *ngIf="musicas">
        <ul id="songs-lists">
            <li *ngFor="let musica of musicas" class="song-item">
                <div class="title">
                    <a class="btn btn-success" (click)="startPlayer(musica)">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </a>
                    {{musica.numero +'. '+ musica.nombre +' - '+musica.duracion }}
                    <div *ngIf="identificado && identificado.rol =='ROLE_ADMIN'" class="buttons">
                        <a [routerLink]="['/editar-musica', musica._id]" class="btn btn-warning">Editar</a>
                        <a (click)="eliminarRegistroConfirmar(musica._id)" class="btn btn-danger">Borrar</a>
                    </div>


                    <div class="seguro seguro-song" *ngIf="confirmado == musica._id">
                        <a (click)="eliminarSeguro(musica._id)" class="btn btn-danger">Borrar</a>
                        <a (click)="cancelarEliminar(musica._id)" class="btn btn-primary">Cancelar</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </li>
        </ul>
    </div>

</div>